.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.divs {
  height: 200px;
}

#why-code {
  /* background-color: chartreuse; */
  padding: 150px 0;
}

#why-code .title {
  width: 50%;
  position: relative;
}

#why-code .title h1 {
  font-size: 50px;
}

#why-code .title h1 span {
  display: block;
  font-weight: 300;
  color: gray;
}

#why-code .title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: crimson;
  position: absolute;
  top: 53%;
  left: 0;
}

#why-code .title .description {
  margin-top: 80px;
}

#why-code .why-code-items {
  margin-top: 50px;
  padding: 20px;
  transition: all 0.3s;
}

#why-code .why-code-items .content {
  margin-top: 10%;
  color: black;
}
#why-code .why-code-items .content p {
  overflow: hidden;
  text-overflow: ellipsis;
}

#why-code .why-code-items:hover {
  background-color: wheat;
}
